body {
  background-color: #94ad24;
}



.drinkBookHeader {
  padding: 30px;
  text-align: center;
  background: #94ad24;
  color: white;
  font-size: 30px;
}


.events-header h1 {
  position:relative; 
  font-size:30px; 
  font-weight:700;  
  letter-spacing:0px; 
  text-transform:uppercase; 
  width: 250px; 
  text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  border:2px solid #222;
  border-radius: 3px;
  padding:5px 11px 3px 11px;
  text-shadow: 1px 1px 0px #45a049;
  background:  #e1e2d2;
}
.events-header h1:before, .events-header h1:after {
    background-color: #c50000;
    position:absolute; 
    content: '';
    height: 7px;

    width: 7px; border-radius:50%;
    bottom: 20px;
}
.events-header h1:before {
   left:-20px;
}
.events-header h1:after {
   right:-20px;
}


.recipes-header h1 {
  position:relative; 
  font-size:30px; 
  font-weight:700;  
  letter-spacing:0px; 
  text-transform:uppercase; 
  width: 210px; 
  text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  border:2px solid #222;
  border-radius: 3px;
  padding:5px 11px 3px 11px;
  text-shadow: 1px 1px 0px #45a049;
  background:  #e1e2d2;
}
.recipes-header h1:before, .recipes-header h1:after {
    background-color: #c50000;
    position:absolute; 
    content: '';
    height: 7px;

    width: 7px; border-radius:50%;
    bottom: 20px;
}
.recipes-header h1:before {
   left:-20px;
}
.recipes-header h1:after {
   right:-20px;
}


.bar-cart-header h1 {
  position:relative; 
  font-size:30px; 
  font-weight:700;  
  letter-spacing:0px; 
  text-transform:uppercase; 
  width:175px; 
  text-align:center; 
  margin:auto; 
  white-space:nowrap; 
  border:2px solid #222;
  border-radius: 3px;
  padding:5px 11px 3px 11px;
  text-shadow: 1px 1px 0px #45a049;
  background: #e1e2d2;
}
.bar-cart-header h1:before, .bar-cart-header h1:after {
    background-color: #c50000;
    position:absolute; 
    content: '';
    height: 7px;

    width: 7px; border-radius:50%;
    bottom: 20px;
}
.bar-cart-header h1:before {
   left:-20px;
}
.bar-cart-header h1:after {
   right:-20px;
}
/** 
events styling
*/

.events-header {
  padding: 30px;
  text-align: center;
  background: #95AC38;
  color: white;
  font-size: 30px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
} */

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


input[type=text], select, textarea {
  
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #95AC38;
  color: white;
  padding: 12px 20px;
  margin-bottom: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #BEDA4A;
}
/** 
end of events styling
*/

.list-group-item {
  background: #e1e2d2;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
}

.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-group-item:last-child {
  border-top-right-radius: 5px; 
  border-top-left-radius: 5px;
}


.btn-buggy {
  background-color: #52603d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  float: left;
  font-size: 18px;
}

.drinkCat {
  text-decoration: underline;
}

header.masthead {
  background: url("../img/cocktail2.jpeg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.trueNav {
  background-color: #beda4a;
}

.card-title {
  color: #95ac38;
}

.phone-number {
  color: #95ac38;
}

.card-text h5 {
  color: #beda4a;
}

.save-drink-button {
  padding-top: 10px;
}

.card-img-top {
  height: 100%;
}

.inline-block-child {
  display: inline-block;
}

.inline-block-child.search {
  padding-left: 10px;
  padding-right: 10px;
}

.search {
  margin-left: 5px;
}

body {
  padding-bottom: 75px;
}

.footer {
  background-color: #beda4a;
}

.shopping-header {
  padding: 30px;
  text-align: center;
  background: #95ac38;
  color: white;
}

.list-input {
  margin-left: 20px;
  margin-right: 5px;
}

.shopping-list-item:hover {
  text-decoration: line-through;
}

.shopping-list {
  padding-left: 20px;
  padding-right: 20px;
}

.complete {
  text-decoration: line-through;
}

.bi-trash {
  display: flex;
  float: right;
}

.add-ingredient-button {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.ingredient-item {
  margin-bottom: 5px;
}

.store-image {
  max-height: 400px;
  max-width: 500px;
}

.store-address:hover {
  cursor: pointer;
  text-decoration: underline;
}