body {
  background-color: white;
}

/* /////////////////////////////////// FIVE GUYS CSS ///////////////////////////////////*/

/* Floating action button CSS */
.fab-container {
  height: 200;
  width: 200;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background: #f83f18;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 25px;
  color: #ffffff;
}

.fab {
  width: 100px;
  height: 100px;
  background: #f83f18;
}

.fab-options {
  list-style-type: none;
  margin: 0;

  position: absolute;
  bottom: 120px;
  right: 0;

  opacity: 0;

  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover + .fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  /* background: #666666; */
  color: #ffffff;
  /* box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); */
  margin-right: 10px;
}
/* ////////////////////////////////////////// MAP CSS ////////////////////////////////////////////// */

#map {
  height: 70vh;
  width: 100vw;
  /* z-index: -1; */
}

.create-event-header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #222;
  margin: 0;
  padding: auto;
}

.create-event-map {
  z-index: 0;
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0, 0, 0, 0.425);
  box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
}

.create-event-form {
  width: 100vw;
  z-index: 2;
  background-color: white;
  box-shadow: gray;
}

/* //////////////////////////////////////////////////////////////////////////////////////// */

.drinkBookHeader {
  padding: 30px;
  text-align: center;
  background: #94ad24;
  color: white;
  font-size: 30px;
}

.events-header h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 250px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  border: 2px solid #222;
  border-radius: 3px;
  padding: 5px 11px 3px 11px;
  text-shadow: 1px 1px 0px #45a049;
  background: #e1e2d2;
}

.events-header h1:before,
.events-header h1:after {
  background-color: #c50000;
  position: absolute;
  content: '';
  height: 7px;

  width: 7px;
  border-radius: 50%;
  bottom: 20px;
}
.events-header h1:before {
  left: -20px;
}
.events-header h1:after {
  right: -20px;
}

.recipes-header h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 210px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  border: 2px solid #222;
  border-radius: 3px;
  padding: 5px 11px 3px 11px;
  text-shadow: 1px 1px 0px #45a049;
  background: #e1e2d2;
}

.recipes-header h1:before,
.recipes-header h1:after {
  background-color: #c50000;
  position: absolute;
  content: '';
  height: 7px;

  width: 7px;
  border-radius: 50%;
  bottom: 20px;
}
.recipes-header h1:before {
  left: -20px;
}
.recipes-header h1:after {
  right: -20px;
}

.bar-cart-header h1 {
  position: relative;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 175px;
  text-align: center;
  margin: auto;
  white-space: nowrap;
  border: 2px solid #222;
  border-radius: 3px;
  padding: 5px 11px 3px 11px;
  text-shadow: 1px 1px 0px #45a049;
  background: #e1e2d2;
}

.bar-cart-header h1:before,
.bar-cart-header h1:after {
  background-color: #c50000;
  position: absolute;
  content: '';
  height: 7px;

  width: 7px;
  border-radius: 50%;
  bottom: 20px;
}
.bar-cart-header h1:before {
  left: -20px;
}
.bar-cart-header h1:after {
  right: -20px;
}
/** 
events styling
*/

.events-header {
  text-align: center;
  background: white;
  color: black;
  font-size: 30px;
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}

input[type='text'],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type='submit'] {
  background-color: #95ac38;
  color: white;
  padding: 12px 20px;
  margin-bottom: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type='submit']:hover {
  background-color: #beda4a;
}
/** 
end of events styling
*/

.list-group-item {
  background: #e1e2d2;
  border-radius: 5px 5px 5px 5px;
  margin: 5px;
}

.list-group-item:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.list-group-item:last-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.btn-buggy {
  background-color: #52603d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  float: left;
  font-size: 18px;
}

.drinkCat {
  text-decoration: underline;
}

header.masthead {
  background: url('../img/cocktail2.jpeg') no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.trueNav {
  background-color: #beda4a;
}

.card-title {
  color: #95ac38;
}

.phone-number {
  color: #95ac38;
}

.card-text h5 {
  color: #beda4a;
}

.save-drink-button {
  padding-top: 10px;
}

.card-img-top {
  height: 100%;
}

.inline-block-child {
  display: inline-block;
}

.inline-block-child.search {
  padding-left: 10px;
  padding-right: 10px;
}

.search {
  margin-left: 5px;
}

body {
  padding-bottom: 75px;
}

.footer {
  background-color: #beda4a;
}

.shopping-header {
  padding: 30px;
  text-align: center;
  background: #95ac38;
  color: white;
}

.list-input {
  margin-left: 20px;
  margin-right: 5px;
}

.shopping-list-item:hover {
  text-decoration: line-through;
}

.shopping-list {
  padding-left: 20px;
  padding-right: 20px;
}

.complete {
  text-decoration: line-through;
}

.bi-trash {
  display: flex;
  float: right;
}

.add-ingredient-button {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

.ingredient-item {
  margin-bottom: 5px;
}

.store-image {
  max-height: 400px;
  max-width: 500px;
}

.store-address:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*///////////////// WEATHER WIDGET /////////////////////////////*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/css/weather-icons.min.css);

body {
	background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);
}
#weather_wrapper{
	width: 400px;
	margin: 100px auto;
}
.weatherCard{
	width: 400px;
	height: 200px;
	font-family: 'Open Sans';
	position: relative;
}
.currentTemp{
	width: 220px;
	height: 200px;
	background: rgb(41, 41, 41);
	position: absolute;
	top: 0;
	left: 0;
}
.currentWeather{
	width: 180px;
	height: 200px;
	background: rgb(237, 237, 237);
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.temp{
	font-size: 80px;
	text-align: center;
	display: block;
	font-weight: 300;
	color: rgb(255, 255, 255);
	padding: 20px 0 0;
}
.location{
	color: rgb(255, 255, 255);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	display: block;
}
.conditions{
	font-family: weathericons;
	font-size: 80px;
	display: block;
	padding: 20px 0 0;
	text-align: center;
}
.info{
	width: 180px;
	height: 50px;
	position: absolute;
	bottom: 0;
	right: 0;
	background: rgb(42, 178, 234);
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-align: center;
}
.rain {
	width: 50%;
	position: absolute;
	left: 10px;
	word-spacing: 60px;
	top: 3px;
}
.rain::before{
	display: block;
	content: '\f04e';
	font-family: weathericons;
	font-size: 40px;
	left: 6px;
	top: -4px;
	position: absolute;
}
.wind {
	width: 50%;
	right: -10px;
	position: absolute;
	word-spacing: 60px;
	top: 3px;
}
.wind::before{
	display: block;
	content: '\f050';
	font-family: weathericons;
	font-size: 25px;
	left: -10px;
	position: absolute;
	top: 5px;
}

