.drinkBookHeader {
  padding: 60px;
  text-align: center;
  background: #0b7710;
  color: white;
  font-size: 30px;
}



.list-group-item {
  background: grey
}

.btn-buggy {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flexbox;
  float: left;
  font-size: 18px;
}

.drinkCat {
  text-decoration: underline;
}

header.masthead {
  background: url("../img/cocktail2.jpeg") no-repeat center center;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
}

.trueNav {
  background-color: #beda4a;
}

.card-title {
  color: #95ac38;
}

.save-drink-button {
  padding-top: 10px;
}

.card-img-top {
  height: 100%;
}

.inline-block-child {
  display: inline-block;
}

.inline-block-child.search {
  padding-left: 10px;
  padding-right: 10px;
}

.search {
  margin-left: 5px;
}

.footer {
  background-color: #beda4a;

}